{% extends "../registration_base.html" %}

{% block content %}
<!-- /.login-logo -->
<div class="card">
  <!-- /.login-card-body -->
  <div class="card-body login-card-body">
      <p class="login-box-msg">设置新密码</p>
      <form class="mb-2 login-form" action="" method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}
          {% for field in form %}
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
            {% if field.help_text %}
                <p class="help text-small text-muted">{{ field.help_text|safe }}</p>
            {% endif %}
          {% endfor %}
          <button type="submit" class="btn btn-primary btn-block">提交</button>
      </form>
  </div>
  <!-- /.login-card-body -->
</div>
{% endblock %}