{% extends "../single_page.html" %}

{% block specific_page_css %}
  <style>
    button.button_group1+div+div {
        width: 200px;
        margin-top: 7px;
        margin-left: 1em;
        z-index: 1000;
    }
  </style>
{% endblock %}

{% block title %}
<title>病历信息管理 随访信息</title>
{% endblock %}

{% block header_title %}
<h1>随访信息</h1>
{% endblock %}

{% block header_ol %}
	<li class="breadcrumb-item"><a href="/Home/">Home</a></li>
	<li class="breadcrumb-item">EMR</li>
	<li class="breadcrumb-item active">FollowupInfo</li>
{% endblock %}

{% block card-body %}
<table id="table" class="table table-bordered table-hover dt-responsive">
<thead>
<tr id="table_header">

</tr>
</thead>
</table>
{% endblock %}

{% block page-script %}
<script>
  $(document).ready(function () {
      $("#sidebar_EMR>a").addClass("active");
	  $("#sidebar_EMR").addClass("menu-open");
	  $("#sidebar_EMR>ul>li:eq(3)>a").addClass("active");
	  $(".sidebar").removeAttr("hidden");

	  let model0 = "FollowupInfo";
	  let url0 = '/api/EMR/' + model0 + '/';
	  let url1 = '/api/EMR/ClinicalInfo/';
	  let id0 = 0;
      let bulk_update_bool = {% if perms.EMR.bulk_update_FollowupInfo %} true {% else %} false {% endif %};
      let bulk_delete_bool = {% if perms.EMR.bulk_delete_FollowupInfo %} true {% else %} false {% endif %};

      function update_func(e, id0){
          e.preventDefault();
          // 递交前检查，一般是检测model的外键是否存在
          let data1 = $.ajax({
              url: url1, dataType: 'json', contentType: "application/json",
              type: "get", async: false, data: { clinical_id: $('#clinical_id').val(), fields: "id,sampleinventoryinfo" }
          }).responseJSON[0];
          if (data1 === undefined) {
              $('#myModalError').text('错误！！！病历编号不存在，请填写正确的病历编号。');
              return
          }

          let type = $('#type').val();
          let method = '';
          let url_ajax0 = url0; // MethyLibraryInfo
          let send_data0 = $("#modelForm").find(":not(#clinical_id)").serialize() + '&' +
              $.param({ clinicalinfo: data1.id, sampleinventoryinfo: data1.sampleinventoryinfo  });
          if (type === 'new') {
              // new
              method = 'POST';
              // POST前检查，一般是检测model的关键字段值是否存在

          } else {
              // edit
              url_ajax0 = url0 + id0 + '/';
              method = 'PUT';
          }

          $.ajax({
              url: url_ajax0,
              method: method,
              data: send_data0,
              headers: {'X-HTTP-Method-Override': 'PATCH'},
              success: function () {
                  let v_tmp = $('#clinical_id').val() + ' + ' + $('#followup_date').val();
                  if (type === 'new') {
                      databaseRecordAjaxPut(model0, "单项添加", "clinical_id + followup_date：" + v_tmp);
                      $('#myModalError').text('添加成功！！！clinical_id + followup_date：' + v_tmp);
                  } else {
                      databaseRecordAjaxPut(model0, "单项更新", "clinical_id + followup_date：" + v_tmp);
                      $('#myModalError').text('更新成功！！！clinical_id + followup_date：' + v_tmp);
                  }

                  setTimeout(
                      function () {
                          window.location.reload(true);
                      }, 3000
                  );
              },
              error: function (jqXHR, textStatus, errorThrown) {
                  $('#myModalError').text('出现错误！！！请联系管理员');
                  console.info(">>>>url_ajax0:", url_ajax0);
                  console.info(">>>>method:", send_data0);
                  console.info(">>>>send_data0:", send_data0);
                  console.info(jqXHR,  textStatus, errorThrown);
              }
          });
      }

      let input_params = {
          "title1_text": "随访信息 总条目数： ",
          "fields": [
              //                    [   0,     1,               2,               3,             4,       5,       6,        7  ]
              // input类型是select： [ field, name, 在table中是否可排序/搜索, 是否出现在modal, modal中排序, 是否必填, input类型, [[value, text]] ]
              // input类型不是select： [ field, name, 在table中是否可排序/搜索, 是否出现在modal, modal中排序, 是否必填, input类型, value ]
              ["clinical_id", "病历编号", 1, 1, 0, 1, "text"],
              ["sampler_id", "华大编号", 0, 0],
              ["survival_status", "生存状态", 1, 1, 1, 1, "select", [["存活", "存活"], ["死亡", "死亡"]]],
              ["death_date", "死亡日期", 1, 1, 2, 0, "date", "2000-01-01"],
              ["death_bool", "死因是否与肿瘤相关", 1, 1, 3, 0, "select", [["否", "否"], ["是", "是"]]],
              ["recur_bool", "是否复发", 1, 1, 4, 0, "select", [["否", "否"], ["是", "是"]]],
              ["recur_date", "复发日期", 1, 1, 5, 0, "date", "2000-01-01"],
              ["recur_status", "复发状态", 1, 1, 6, 0, "text", "无"],
              ["followup_date", "随访日期", 1, 1, 7, 0, "date", "2000-01-01"],
              ["followup_status", "随访情况", 1, 1, 8, 1, "text"],
              ["memo", "备注", 1, 1, 9, 0, "text", "无"],
              ["last_modify_time", "上次修改时间", 1, 0],
              ["create_time", "创建时间", 1, 0]
          ],
          "update_func": update_func,
          "delete_func": simple_delete_func,
          "bulkDelete_func": simple_bulkDelete_func,
          "download_excel": '/ADVANCE/download_excel/EMR_' + model0 + '/'
      };
      single_page_generator(model0, url0, id0, bulk_update_bool, bulk_delete_bool, input_params);

  });
</script>
{% endblock %}
